@model Filters.Models.Teacher
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{

}
<form asp-action="Save" asp-controller="Home">
    <label asp-for="Age"></label>
    <input asp-for="Age" />
    <label asp-for="Age"></label>
    <input asp-for="Name" />
</form>
<cache>
    @DateTime.Now
</cache>