<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row">

        <div class="col-3">
            <div class="bg-primary m-1 p-1 text-white"><a asp-action="LogOut" asp-controller="Account">LogOut</a></div>
            @*@RenderSection("Test",false)*@
            @*@if (IsSectionDefined("Test"))
        {
            @RenderSection("Test")
        }
        else
        {
            <ul>
                <li>Core</li>
                <li>Core</li>
                <li>Core</li>
                <li>Core</li>
            </ul>
        }*@

        </div>
    </div>


    <div>
        @RenderBody()
    </div>
</body>
</html>
